:root {
    --blue: #014899;
    --second: #696969;
    --text: #282828;
    --white: #fff;
}
@font-face {
    font-family: iranSans;
    src: url("./assets/IRANSansWeb(FaNum)_Medium.woff");
    font-weight: normal;
}
@font-face {
    font-family: iranSans;
    src: url("./assets/IRANSansWeb(FaNum)_Light.woff");
    font-weight: lighter;
}
*,:after,:before,ul {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
    font-family: iranSans, Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
}
a {text-decoration: none;display: block;}
li {list-style: none;}
.row{
    margin-left: 0;
    margin-right: 0;
}
.bg-main {
    background-image: url("./assets/18.png");
    height: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
.drop-down{
    max-width: 10rem;
}
img{
    max-width: 100%;
}
.top-menu {
    padding: .4em 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}
.top-menu li {
    padding-left: .4em;
    padding-right: .4em;
}
.top-menu li a {
    font-weight: bold;
    font-size: .7rem;
    color: var(--second);
}
.border-line {
    width: 2px;
    height: 10px;
    border-left: 2px solid #666;
}
.blue {color: var(--blue) !important;}
.btn-prime{
    background-color: var(--blue);
    opacity: .8;
}
.prime-menu {
    background-color: var(--blue);
    opacity: .8;
}
.prime-menu li a {
    font-weight: 400;
}
.center-section {
    margin-top: 14%;
   max-height: 261px;
}
.text-justify {text-align: justify;}
.invert {
    filter: invert(1);
    max-width: 4rem;
}
.arrow{max-width: 4rem;}
.bg-blue {
    background-color: var(--blue);
    opacity: .9;
    min-height: 6rem;
}
.bg-blue-light {
    background-color: var(--blue);
    opacity: .76;
    min-height: 6rem;
}
.bg-blue-dark {
    background-color: var(--blue);
}
.rotate {
    transform: rotate(180deg);
}
.img-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.fs-sub {
    font-size: .8rem;
    text-align: justify;
    line-height: 1.6rem;
}
.pagination {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    background-color: #ddd;
    color: #000;
    cursor: pointer;
}
.pagination.active {
    background-color: var(--blue);
}
.pagination.active a{
    color:#fff;
}
/* Media Querris */
@media (min-width: 447px) and (max-width: 1057px) { 
    .bg-blue-light,.bg-blue{
        min-height: 7rem;
    }
    .bg-blue-light img,.bg-blue img{
        transform: scale(1.1);
    }
 }
